<!DOCTYPE html>
<html>
	<head>
		<style>
			hr {color:sienna;strong:defined}
			p {margin-left:40px;}
			body {background-image:url("E:\vikingar\mess\mess\67-191016134459293.png");}     
		</style>
	</head>
</html>